/* .App {
  
} */

.wrapper {
  height: 100vh;
  background-color: hsl(210, 8%, 85%);
}

.login,
.register {
  width: 300px;
  height: min-content;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: black;
}