body {
  color: #222;
}

main {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
}


.wrapper {
  height: 100vh;
  background-color: #BBC0C4;
}

.login,
.register {
  width: 300px;
  height: min-content;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: black;
}